<div class="row">
  <div class="span12">
    <legend><%= @info.title %></legend>

    <%= @info.content.html_safe unless @info.content.blank? %>

    <br/>
    
    <%= link_to 'Edit', edit_info_path(@info), :class => 'btn' %>
    <%= link_to iconed_text('Hapus', 'icon-trash'), @info, :method => :delete, :confirm => 'Apakah anda yakin?', :class => 'btn btn-danger' %>
  </div>
</div>